body, .header__input::-webkit-input-placeholder {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

body, .header__input:-ms-input-placeholder {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

body, .header__input::-ms-input-placeholder {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

body, .header__input::placeholder {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

.header {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

.header-top {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSaLight';
  font-weight: 300;
  font-style: normal;
  src: local("OpenSans-Light"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Ruda-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Ruda-Regular"), url("../fonts/Ruda-Regular.woff2") format("woff2"), url("../fonts/Ruda-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Ruda-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local("Ruda-SemiBold"), url("../fonts/Ruda-SemiBold.woff2") format("woff2"), url("../fonts/Ruda-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Ruda-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Ruda-Bold"), url("../fonts/Ruda-Bold.woff2") format("woff2"), url("../fonts/Ruda-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Ruda-Black';
  font-weight: 900;
  font-style: normal;
  src: local("Ruda-Black"), url("../fonts/Ruda-Black.woff2") format("woff2"), url("../fonts/Ruda-Black.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

img,
a {
  outline: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #505050;
  font-size: 14px;
  line-height: 1.4;
  font-style: normal;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-top {
  background-color: #31352B;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 17px 0 15px;
  text-align: center;
}

.header-top__left {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-top__left--delivery {
  margin-right: 48px;
  padding-left: 44px;
  position: relative;
}

.header-top__left--delivery:before {
  position: absolute;
  content: '';
  height: 23px;
  width: 32px;
  bottom: -2px;
  left: 0;
  background-image: url(../images/icon/delivery.svg);
}

.header-top__left--hotline {
  padding-left: 34px;
  position: relative;
}

.header-top__left--hotline:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  bottom: -2px;
  left: 0;
  background-image: url(../images/icon/hottel.svg);
}

.header-top__right-item:not(:last-child) {
  margin-right: 24px;
}

.header__wrapper {
  background-color: #63A60F;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.header__logo {
  margin-right: 24px;
}

.header__dropdown-menu {
  background-color: #ffffff;
  color: #63A60F;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 15px 38px 15px 61px;
  border-radius: 6px;
  border: none;
  margin-right: 30px;
  position: relative;
}

.header__dropdown-menu:before {
  content: '';
  position: absolute;
  background-image: url(../images/icon/nav.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 17px;
  left: 18px;
  top: 22px;
}

.header__dropdown-menu::after {
  content: '';
  position: absolute;
  background-image: url(../images/icon/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 7px;
  height: 4px;
  right: 19px;
  top: 25px;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 58px;
  max-width: 575px;
  width: 100%;
}

.header__label {
  position: relative;
  max-width: 420px;
  width: 100%;
}

.header__label:before {
  content: '';
  position: absolute;
  background-image: url(../images/icon/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20px;
  width: 20px;
  left: 13px;
  top: 16px;
}

.header__input {
  letter-spacing: 0.03em;
  color: #31352B;
  padding: 15px 13px;
  outline: transparent;
  border: none;
  border-radius: 6px 0 0 6px;
  width: 100%;
}

.header__input::-webkit-input-placeholder {
  color: #31352B;
  padding-left: 37px;
}

.header__input:-ms-input-placeholder {
  color: #31352B;
  padding-left: 37px;
}

.header__input::-ms-input-placeholder {
  color: #31352B;
  padding-left: 37px;
}

.header__input::placeholder {
  color: #31352B;
  padding-left: 37px;
}

.header__search-btn {
  background: #31352B;
  border-radius: 0 6px 6px 0;
  color: #ffffff;
  border: none;
  padding: 15px 52px;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__link:not(:last-child) {
  margin-right: 33px;
}

.user-nav__link {
  position: relative;
}

.user-nav__num {
  content: '';
  position: absolute;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  background-color: #ffffff;
  color: #CF3E3B;
  height: 18px;
  width: 18px;
  text-align: center;
  border-radius: 50%;
  top: -6px;
  left: -6px;
}
/*# sourceMappingURL=style.css.map */