.advantages {
  background-color: $silver;
  padding: 48px 0 29px;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 922px;
    width: 100%;
  }

  &__item {
    max-width: 260px;
    width: 100%;
    padding-left: 74px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      @extend %bg;
    }

    &--delivery:before {
      background-image: url(../images/icons/scooter.svg);
    }

    &--return:before {
      background-image: url(../images/icons/return-box.svg);
    }

    &--support:before {
      background-image: url(../images/icons/24-hours.svg);
    }
  }

  &__title {
    @extend %opensans-600;
    font-size: 16px;
    color: $text12;
    margin-bottom: 6px;
  }
}