.partners {
  &__inner {
    padding: 72px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    opacity: 0.5;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
    }
  }
}