<section class="banners">
  <div class="container">
    <ul class="banners__list">
      <li class="banners__item banners__item--big"  style="background-image: url(images/banners/1.png);">
        <h2 class="banners__title">
          СВЕЖАЙШИЕ ФРУКТЫ
        </h2>
        <h3 class="banners__info banners__info--big">
          НАЧНИ ФРУКТОВОЕ ЛЕТО
          ВСЕГО От 99 ₽  
        </h3>
        <a class="banners__link banners__link--big" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>

      <li class="banners__item" style="background-image: url(images/banners/2.png);" >
        <h2 class="banners__title">
          СЕЗОННАЯ РАСПРОДАЖА
        </h2>
        <h3 class="banners__info">
          ОВОЩЕПАД
          ДО -50%  
        </h3>
        <a class="banners__link" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>

      <li class="banners__item" style="background-image: url(images/banners/3.png);">
        <h2 class="banners__title">
          НЯМ-НЯМ
        </h2>
        <h3 class="banners__info">
          СВЕЖИЙ
          ХЛЕБЧИК  
        </h3>
        <a class="banners__link" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>
    </ul>
  </div>
</section>