<section class="discount">
  <div class="container">
    <div class="discount__inner inner">
      <h2 class="discount__title title">
        Топовые товары
      </h2>
      <ul class="discount__categorys categorys">
        <li class="discount__category category">
          <button class="discount__list category-btn focus" type="button" data-filter="">
            Все товары
          </button>
        </li>
        
        <li class="discount__category category">
          <button class="discount__list category-btn focus" type="button" data-filter="">
            Фрукты
          </button>
        </li>

        <li class="discount__category category">
          <button class="discount__list category-btn focus" type="button" data-filter="">
            ОВОЩИ
          </button>
        </li>
      </ul>

      <div class="discount__cards">
        <article class="discount__card card">
          <a class="card__link" href="#">
            <img class="card__image" src="images/discount/pinapple.jpg" width="100" height="100">
          </a>
          <div class="card__badges">
            <a class="card__new" href="#">НОВИНКА</a>
          </div>
          <div class="card__about">
            <h3 class="card__info">
              Ананас, 1кг
            </h3>
            <div class="card__bottom">
              <div class="card__price">
                <span class="card__old-price">1999 ₽ </span>
                999 ₽
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>