  <footer class="footer">
    <div class="container">
      <a class="footer__logo logo" href="#">
        <img class="logo__img" src="images/icons/logo.svg" alt="логотип компании">
      </a>
      <div class="footer__inner">
        <form class="footer__form">
          <span class="footer__text">
            Следите за нашими акциями
          </span>
          <label class="footer__label">
            <input class="footer__input" type="mail" placeholder="email@email.com" required>
          </label>
          <button class="footer__button focus" type="submit">подписаться</button>
        </form>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link focus" href="#">О нас</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Оплата и доставка</a>
          </li>
          <li class="footer__item">
            <a class="footer__link focus" href="#">Отзывы</a>
          </li>
          <li class="footer__item">
            <a class="footer__link focus" href="#">Контакты</a>
          </li>
          <li class="footer__item">
            <a class="footer__link focus" href="#">Вакансии</a>
          </li>
          
          <li class="footer__item">
            <a class="footer__link focus" href="#">Новости</a>
          </li>

          <li class="footer__item">
            <a class="footer__link focus" href="#">Публичная оферта</a>
          </li>

          <li class="footer__item">
            <a class="footer__link focus" href="#">Акции</a>
          </li>
        </ul>
        <address class="footer__address">
          <span class="footer__addres-name">Горячая линия
            <a href="tel:+7907288365">+7 907 288 365<a/>
            </span>
          <span class="footer__addres-name">Санкт-Петербург, ул. Ленина, 1</span>
          
          
          <ul class="footer__social">
            <li class="footer__social-item">
              <a class="footer__social-link focus" href="#">
                <svg class="footer__social-icon">
                  <use xlink:href="images/sprite.svg#facebook_"></use>
                </svg>
              </a>
            </li>
  
            <li class="footer__social-item">
              <a class="footer__social-link focus" href="#">
                <svg class="footer__social-icon">
                  <use xlink:href="images/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
  
            <li class="footer__social-item">
              <a class="footer__social-link focus" href="#">
                <svg class="footer__social-icon">
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
  
            <li class="footer__social-item">
              <a class="footer__social-link focus" href="#">
                <svg class="footer__social-icon">
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <span class="footer__line"></span>
    <div class="container">
      <div class="footer-copy">
        <span class="footer-copy__text">© 2021 ФРЕШОК</span>
        <div class="footer-copy__pay">
          <a class="footer-copy__link" href="#">
            <img class="footer__img" src="images/icons/visa.svg" alt="виза">
          </a>
          <a class="footer-copy__link" href="#">
            <img class="footer__img" src="images/icons/mc.svg" alt="мастеркард">
          </a>
        </div>
      </div>
    </div>
  </footer>