<section class="partners">
  <div class="container">
    <div class="partners__inner">
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/sprite.png" alt="">
      </a>
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/dr-pepper.png" alt="">
      </a>
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/cocacola.png" alt="">
      </a>
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/pepsi.png" alt="">
      </a>
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/redbull.png" alt="">
      </a>
      <a class="partners__link" href="#">
        <img class="partners__img" src="images/partners/fanta.png" alt="">
      </a>
    </div>
  </div>
</section>