    <section class="product">
      <div class="container">
        <div class="product__inner inner">
          <h2 class="product__title title">
            Топовые товары
          </h2>
          <ul class="product__categorys categorys">
            <li class="product__category category" >
              <button class="product__list category-btn focus" type="button" data-filter="all">
                Все товары
              </button>
            </li>

            <li class="product__category category" >
              <button class="product__list category-btn focus" type="button" data-filter=".category-a">
                Фрукты
              </button>
            </li>

            <li class="product__category category">
              <button class="product__list category-btn focus" type="button"  data-filter=".category-b">
                ОВОЩИ
              </button>
            </li>

            <li class="product__category category" data-filter=".category-c">
              <button class="product__list category-btn focus" type="button">
                Напитки
              </button>
            </li>

            <li class="product__category category">
              <button class="product__list category-btn focus" type="button"  data-filter=".category-d">
                БАКАЛЕЯ
              </button>
            </li>
          </ul>

          <div class="product__cards">
            <article class="product__card card mix category-a">
              <div class="card__top">
                <div class="card__badges">
                  <a class="card__new" href="#">НОВИНКА</a>
                  <a class="card__discount" href="#">-50%</a>
                </div>
                <button class="card__like focus" type="button">
                  <svg class="card__like-img">
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
              <a class="card__link" href="#">
                <img class="card__image" src="images/products/pineapple.png" width="298" height="215">
              </a>
              <div class="card__about">
                <h3 class="card__info">
                  Ананас, 1кг
                </h3>
                <div class="card__bottom">
                  <div class="card__price">
                    <span class="card__old-price">1999 ₽ </span>
                    999 ₽ 
                  </div>
                  <button class="card__bascet focus" type="button">
                    <svg class="card__bascet-img">
                      <use xlink:href="images/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>

            <article class="product__card card mix category-a">
              <div class="card__top">
                <div class="card__badges">
                </div>
                <button class="card__like focus" type="button">
                  <svg class="card__like-img">
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
              <a class="card__link" href="#">
                <img class="card__image" src="images/products/lemon.png" width="298" height="215">
              </a>
              <div class="card__about">
                <h3 class="card__info">
                  Лимон, 1кг
                </h3>
                <div class="card__bottom">
                  <div class="card__price">
                    199 ₽ 
                  </div>
                  <button class="card__bascet focus" type="button">
                    <svg class="card__bascet-img">
                      <use xlink:href="images/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>

            <article class="product__card card mix category-a">
              <div class="card__top">
                <div class="card__badges">
                  <a class="card__hit" href="#">ХИТ</a>
                </div>
                <button class="card__like focus" type="button">
                  <svg class="card__like-img">
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
              <a class="card__link" href="#">
                <img class="card__image" src="images/products/body.png" width="298" height="215">
              </a>
              <div class="card__about">
                <h3 class="card__info">
                  Питахайя красная с белой мякотью, 1шт
                </h3>
                <div class="card__bottom">
                  <div class="card__price">
                    1019 ₽ 
                  </div>
                  <button class="card__bascet focus" type="button">
                    <svg class="card__bascet-img">
                      <use xlink:href="images/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>

            <article class="product__card card mix category-d">
              <div class="card__top">
                <div class="card__badges">
                </div>
                <button class="card__like focus" type="button">
                  <svg class="card__like-img">
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
              <a class="card__link" href="#">
                <img class="card__image" src="images/products/ketchup.png" width="298" height="215">
              </a>
              <div class="card__about">
                <h3 class="card__info">
                  Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                </h3>
                <div class="card__bottom">
                  <div class="card__price">
                    600 ₽ 
                  </div>
                  <button class="card__bascet focus" type="button">
                    <svg class="card__bascet-img">
                      <use xlink:href="images/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>

            <article class="product__card card mix category-b">
              <div class="card__top">
                <div class="card__badges">
                  <a class="card__hit" href="#">ХИТ</a>
                </div>
                <button class="card__like focus" type="button">
                  <svg class="card__like-img">
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
              <a class="card__link" href="#">
                <img class="card__image" src="images/products/carrot.png" width="298" height="215">
              </a>
              <div class="card__about">
                <h3 class="card__info">
                  Морковь молодая с бабушкиной грядки, 1кг
                </h3>
                <div class="card__bottom">
                  <div class="card__price">
                    49 ₽ 
                  </div>
                  <button class="card__bascet focus" type="button">
                    <svg class="card__bascet-img">
                      <use xlink:href="images/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>

            <article class="product__card card mix category-c">
              <div class="card__top">
                <div class="card__badges">
                  <a class="card__discount" href="#">-50%</a>
                </div>
                <button class="card__like focus" type="button">
                  <svg class="card__like-img">
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
              <a class="card__link" href="#">
                <img class="card__image" src="images/products/drink.png" width="298" height="215">
              </a>
              <div class="card__about">
                <h3 class="card__info">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                </h3>
                <div class="card__bottom">
                  <div class="card__price">
                    <span class="card__old-price">299 ₽ </span>
                    199 ₽ 
                  </div>
                  <button class="card__bascet focus" type="button">
                    <svg class="card__bascet-img">
                      <use xlink:href="images/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>

            <article class="product__card card mix category-c">
              <div class="card__top">
                <div class="card__badges">
                  <a class="card__new" href="#">НОВИНКА</a>
                </div>
                <button class="card__like focus" type="button">
                  <svg class="card__like-img">
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
              <a class="card__link" href="#">
                <img class="card__image" src="images/products/coffe.png" width="298" height="215">
              </a>
              <div class="card__about">
                <h3 class="card__info">
                  Кофе с коноплей органический Caffé Salomoni 250г
                </h3>
                <div class="card__bottom">
                  <div class="card__price">
                    877 ₽ 
                  </div>
                  <button class="card__bascet focus" type="button">
                    <svg class="card__bascet-img">
                      <use xlink:href="images/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>

            <article class="product__card card mix category-b">
              <div class="card__top">
                <div class="card__badges">
                  <a class="card__new" href="#">НОВИНКА</a>
                </div>
                <button class="card__like focus" type="button">
                  <svg class="card__like-img">
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
              <a class="card__link" href="#">
                <img class="card__image" src="images/products/pepper.png" width="298" height="215">
              </a>
              <div class="card__about">
                <h3 class="card__info">
                  Перец оранжевый, 1кг
                </h3>
                <div class="card__bottom">
                  <div class="card__price">
                    349 ₽ 
                  </div>
                  <button class="card__bascet focus" type="button">
                    <svg class="card__bascet-img">
                      <use xlink:href="images/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </div>
          <button class="card__btn" type="button">
            Показать еще
          </button>
        </div>
      </div>
    </section>