    <section class="top-slick">
      <div class="top-slick__wrapper" style="background-image: url(images/slider_bg/1.jpg);">
        <div class="container">
          <div class="top-slick__inner">           
            <h2 class="top-slick__title">
              СВЕЖАЧОК ВАМ в ХАТУ
              <span class="top-slick__span">Скидка -50%</span>
            </h2>
            <span class="top-slick__text">
              <p>Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!</p>
            </span>
            <a class="top-slick__link focus" href="#">Купить сейчас</a>
          </div>
        </div>
      </div>

      <div class="top-slick__wrapper" style="background-image: url(images/slider_bg/2.jpg);">
        <div class="container">
          <div class="top-slick__inner">           
            <h2 class="top-slick__title">
              НАКРУТИ СЕБЕ ТОМАТОВ
              <span class="top-slick__span">АКЦИЯ: 3 кг по цене 1</span>
            </h2>
            <span class="top-slick__text">
              <p>Только с 12 по 15 июля скидка на домашние помидорчики</p>
            </span>
            <a class="top-slick__link focus" href="#">Купить сейчас</a>
          </div>
        </div>
      </div>

      <div class="top-slick__wrapper top-slick__wrapper-big" style="background-image: url(images/slider_bg/3.jpg);">
        <div class="container">
          <div class="top-slick__inner">           
            <h2 class="top-slick__title">
              Пусть остальные 
              позеленеют от зависти
              <span class="top-slick__span">Распродажа зелени</span>
            </h2>
            <a class="top-slick__link focus" href="#">Купить сейчас</a>
          </div>
        </div>
      </div>
    </section>